:root {
    --spanish-gray: rgb(153, 153, 153);
    --sonic-silver: rgb(120, 120, 120);
    --eerie-black: rgb(33, 33, 33);
    --royal-blue: rgb(0, 110, 255);
    --sandy-brown: rgb(246, 163, 85);
    --rubby-red: rgb(246, 35, 35);
    --ocean-green: rgb(70, 195, 137);
    --davys-gray: rgb(116, 116, 116);
    --cultured: rgb(237, 237, 237);
    --white: rgb(255, 255, 255);
    --white-2: rgb(204, 204, 204);
    --white-3: rgb(179, 179, 179);
    --black-1: rgba(0, 0, 0, 0.5);
    --onyx: rgb(74, 63, 63);

    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;

    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    --transition-timing: 0.2s ease;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
}

img,
ion-icon,
button,
a {
    display: block;
}

html {
    font-family: "Poppins", sans-serif;
    overscroll-behavior: contain;
}

input {
    display: block;
    width: 100%;
    font: inherit;
}

input::placeholder {
    font: inherit;
}

body {
    background-color: var(--white);
    /* margin-bottom: 50px; */
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: var(--white);
    border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--white-2);
    border: 3px solid var(--white);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--white-3);
}

.container {
    padding: 0 15px;
}

.has-scrollbar {
    padding-bottom: 5px;
}

.has-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 3px solid --white;
    border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgb(230, 230, 230);
}

.has-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--white-2);
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 15;
    transition: 0.5s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 17;
    animation: popup 1s ease-in-out 5s forwards;
}

@keyframes popup {
    0% {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    100% {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

.modal.closed {
    display: none;
}

.modal.close-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.newsletter-img {
    display: none;
}

.modal-content {
    position: relative;
    max-width: 350px;
    margin: 20px;
    background-color: var(--white);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    z-index: 2;
    animation: scaleup 0.5s ease-in-out 5s forwards;
}

@keyframes scaleup {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--royal-blue);
    color: var(--white);
    font-size: 16px;
    padding: 5px;
    border-radius: var(--border-radius-sm);
}

.modal-close-btn:hover {
    opacity: 0.9;
}

.modal-close-btn ion-icon {
    --ionicon-stroke-width: 70px;
}

.newsletter {
    padding: 50px 30px;
    text-align: center;
}

.newsletter-header {
    margin-bottom: 20px;
}

.newsletter-title {
    color: var(--onyx);
    font-size: var(--fs-2);
    font-weight: var(--weight-600);
    margin-bottom: 10px;
}

.newsletter-desc {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    line-height: 1.6;
}

.email-field {
    font-size: var(--fs-7);
    padding: 8px 16px;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--cultured);
    margin-bottom: 16px;
}

.btn-newsletter {
    background-color: var(--eerie-black);
    color: var(--white);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: var(--border-radius-sm);
    margin: auto;
    transition: var(--transition-timing);
}

.btn-newsletter:hover {
    background-color: var(--royal-blue);
}

.notification-toast {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: var(--white);
    max-width: 300px;
    display: flex;
    align-items: flex-end;
    gap: 15px;
    padding: 15px;
    border-radius: var(--border-radius-md);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    transform: translateX(calc(-100% + 300px));
    transition: 0.5s ease-in-out;
    z-index: 5;
    animation: notif 10s ease-in-out infinite;
}

@keyframes notif {

    0%,
    45%,
    100% {
        transform: translateX(calc(100% - 40px));
        opacity: 0;
        visibility: hidden;
    }

    50%,
    95% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

.notification-toast.closed {
    display: none;
}

.toast-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--sonic-silver);
}

.toast-close-btn ion-icon {
    --ionicon-stroke-width: 50px;
}

.toast-banner {
    width: 70px;
    height: 70px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-sm);
}

.toast-banner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.toast-detail {
    width: calc(100%-85px);
    padding: 0 10px 0 0;
}

.toast-mesaage {
    font-size: var(--fs-10);
    color: var(--sonic-silver);
    margin-bottom: 8px;
}

.toast-title {
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    color: var(--onyx);
}

.toast-meta {
    font-size: var(--fs-10);
    color: var(--sonic-silver);
}

.header-top,
.header-user-actions,
.desktop-nav-menu {
    display: none;
}

.header-main {
    padding: 20px 0;
    border-radius: 1px solid var(--cultured);
}

.header-logo {
    margin-bottom: 20px;
}

.header-logo img {
    margin: auto;
}

.header-search-container {
    position: relative;
}

.header-search-container .search-field {
    font-size: var(--fs-7);
    color: var(--onyx);
    padding: 10px 15px;
    padding-right: 50px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-sm);
}

.search-field::-webkit-search-cancel-button {
    display: none;
}

.search-btn {
    background-color: var(--white);
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    color: var(--onyx);
    font-size: 18px;
    padding: 8px 15px;
    transition: color --transition-timing;
    background-color: orange;
    margin: unset;
    width: auto;
    height: 100%;
    border-radius: var(--border-radius-sm);
}

.seacrh-btn:hover {
    color: var(--royal-blue);
}

.mobile-bottom-nav {
    background-color: var(--white);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 5;
}

.mobile-bottom-nav .action-btn {
    position: relative;
    font-size: 26px;
    color: var(--eerie-black);
    padding: 10px;
}

.mobile-bottom-nav .count {
    background-color: var(--rubby-red);
    color: var(--white);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
}

.mobile-nav-menu {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    overscroll-behavior: contain;
    visibility: hidden;
    transition: 0.5s ease;
    z-index: 20;
}

.mobile-nav-menu.active {
    left: 0;
    visibility: visible;
}

.menu-top {
    padding-bottom: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid --cultured;
}

.menu-top .menu-title {
    color: var(--royal-blue);
    font-size: var(--fs-4);
    font-weight: var(--weight-600);
}

.menu-close-btn {
    color: var(--eerie-black);
    font-size: 22px;
}

.menu-close-btn ion-icon {
    --ionicon-stroke-width: 50px;
}

.mobile-menu-category-list {
    margin-bottom: 30px;
}

.menu-category .accordion-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-category-list .menu-category {
    border-bottom: 1px solid var(--cultured);
}

.mobile-menu-category-list .menu-title {
    color: var(--onyx);
    font-size: var(--fs-6);
    font-weight: var(--weight-600);
    padding: 12px 0;
}

.accordion-menu>div {
    font-size: 14px;
}

.accordion-menu ion-icon {
    color: var(--onyx);
    --ionicon-stroke-width: 90px;
}

.accordion-menu.active .add-icon,
.accordion-menu .remove-icon {
    display: none;
}

.accordion-menu .add-icon,
.accordion-menu.active .remove-icon {
    display: block;
}

.menu-category .submenu-category-list {
    margin: 0 0 0 10px;
}

.submenu-title {
    padding: 6px 0;
    font-size: var(--fs-6);
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
}

.submenu-title:hover {
    color: var(--davys-gray);
}

.submenu-category-list {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}

.submenu-category-list.active {
    max-height: 148px;
    visibility: visible;
}

.menu-bottom .menu-category-list {
    margin-bottom: 20px;
}

.menu-bottom .menu-category {
    border-bottom: none;
}

.menu-bottom .menu-title {
    font-size: var(--fs-6);
    font-weight: var(--weight-500);
    color: var(--eerie-black);
    padding: 12px 0;
}

.accordion-menu.active .caret-back {
    transform: rotate(-0.25turn);
}

.menu-bottom .submenu-category-list {
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    padding: 0 15px;
    margin-left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.menu-bottom .submenu-category:not(:last-child) {
    border-bottom: 1px solid var(--cultured);
}

.menu-social-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
}

.menu-social-container .social-link {
    background-color: var(--cultured);
    color: var(--eerie-black);
    font-size: 20px;
    padding: 10px;
    border-radius: var(--border-radius-md);
}

.banner {
    margin: 30px 0;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: var(--border-radius-md);
    overflow: auto hidden;
    scroll-snap-type: inline;
    overscroll-behavior-inline: contain;
}

.slider-item {
    position: relative;
    min-width: 100%;
    max-width: 450px;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    scroll-snap-align: start;
}

.slider-item .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.banner-content {
    background-color: hsla(0, 0%, 100%, 0.8);
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 20px 25px;
    border-radius: var(--border-radius-md);
}

.banner-subtitle {
    color: var(--royal-blue);
    font-size: var(--fs-7);
    font-weight: var(--weight-700);
    text-transform: capitalize;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.banner-title {
    color: var(--eerie-black);
    font-size: var(--fs-1);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 10px;
}

/* .banner-text {
    display: none;
} */

.banner-btn {
    background-color: var(--royal-blue);
    color: var(--white);
    width: max-content;
    font-size: var(--fs-11);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: var(--border-radius-sm);
    transition: var(--transition-timing);
}


.banner-btn:hover {
    background-color: var(--eerie-black);
}



.category {
    margin-bottom: 30px;
}

.category-item-container {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto hidden;
    scroll-snap-type: inline;
    overscroll-behavior-inline: contain;
}

.category-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    scroll-snap-align: end;
}

.category-img-box {
    background-color: var(--cultured);
    border: 1px solid var(--white-2);
    padding: 10px;
    border-radius: var(--border-radius-md);
}

.category-content-box {
    width: 100%;
}

.category-content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.category-item-title {
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-600);
    text-transform: uppercase;
}

.category-item-amount {
    color: var(--sonic-silver);
    font-size: var(--fs-11);
}

.category-btn {
    color: var(--royal-blue);
    font-size: var(--fs-9);
    font-weight: var(--weight-500);
}


.slidebar {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 100%;
    max-width: 320px;
    overflow-y: scroll;
    overscroll-behavior: contain;
    visibility: hidden;
    padding: 30px;
    transition: 0.5s ease;
    z-index: 20;
}

.slidebar.active {
    left: 0;
    visibility: visible;
}

.slidebar-category {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--cultured);
}

.slidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.slidebar-title {
    color: var(--onyx);
    font-size: var(--fs-5);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: var(--weight-600);
}

.slidebar-close-btn {
    color: var(--eerie-black);
    font-size: 22px;
    font-weight: var(--weight-600);
}

.slidebar-close-btn ion-icon {
    --ion-icon-width: 50px;
}

.slidebar-accordion-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}

.slidebar .menu-title-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slidebar .menu-title {
    font-size: var(--fs-5);
    color: var(--sonic-silver);
    font-weight: var(--weight-500);
}

.slidebar-accordion-menu ion-icon {
    color: var(--sonic-silver);
    font-size: 14px;
    --ionicon-stroke-width: 70px;
}

.slidebar-submenu-category-list {
    border-top: 1px solid var(--cultured);
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}

.slidebar-submenu-category-list.active {
    padding: 13px 0 8px;
    max-height: 125px;
    visibility: visible;
}

.slidebar-submenu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    padding: 2px 0;
}

.slidebar-submenu-title:hover {
    color: var(--eerie-black);
}

.slidebar .product-name {
    text-transform: capitalize;
}

.slidebar-accordion-menu.active .add-icon,
.slidebar-accordion-menu .remove-icon {
    display: none;
}

.slidebar-accordion-menu .add-icon,
.slidebar-accordion-menu.active .remove-icon {
    display: block;
}



.slidebar .showcase-heading {
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    color: var(--onyx);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-bottom: 15px;
}

.slidebar .showcase {
    display: flex;
    align-items: center;
    gap: 20px;
}

.slidebar .showcase:not(:last-child) {
    margin-bottom: 15px;
}

.slidebar .showcase-img {
    border-radius: var(--border-radius-sm);
}

.slidebar .showcase-content {
    width: calc(100% - 90px);
}

.slidebar .showcase-title {
    color: var(--onyx);
    font-style: var(--fs-7);
    font-weight: var(--weight-400);
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
}

.slidebar .showcase-rating {
    display: flex;
    align-items: center;
    color: var(--sandy-brown);
    font-size: 13px;
    padding: 4px 0;
}

.slidebar .price-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.slidebar .price-box del {
    color: var(--sonic-silver);
    font-size: 13px;
}

.slidebar .price-box .price {
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    color: var(--davys-gray);
}

.product-minimal {
    margin-bottom: 30px;
}

.product-minimal .product-showcase {
    margin-bottom: 10px;
}

.title {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    letter-spacing: 0.4px;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 40px;
}

.product-minimal .showcase-wrapper {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline;
}

.product-minimal .showcase-container {
    min-width: 100%;
    padding: 0 5px;
    scroll-snap-align: start;
}

.product-minimal .showcase {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
}

.product-minimal .showcase:not(:last-child) {
    margin-bottom: 15px;
}

.product-minimal .showcase-content {
    width: calc(100%-85px);
}

.showcase-content .showcase-title {
    color: var(--eerie-black);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: capitalize;
    margin-bottom: 10px;
}

.product-minimal .showcase-category {
    width: max-content;
    color: var(--davys-gray);
    font-size: var(--fs-8);
    text-transform: capitalize;
    margin-bottom: 3px;
}

.product-minimal .showcase-category:hover {
    color: var(--royal-blue);
}

.product-minimal .price-box {
    display: flex;
    gap: 15px;
}

.product-minimal .price {
    offset-inline-start: var(--fs-7);
    font-weight: var(--weight-700);
}

.product-minimal .price-box del {
    font-size: var(--fs-7);
    color: var(--sonic-silver);
}


.product-featured {
    margin-bottom: 40px;
}

.product-featured .showcase-wrapper,
.testimonials-content .testimonial-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
}
.product-featured .showcase-container {
    min-width: 100%;
    padding: 30px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    scroll-snap-align: start;
}

.product-featured .showcase-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-featured .showcase-content {
    margin-top: 30px;
}

.product-featured .showcase-rating {
    color: var(--sandy-brown);
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-featured .showcase-title {
    font-size: var(--fs-7);
    color: var(--eerie-black);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.product-featured .showcase-desc {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-weight: var(--weight-300);
    margin-bottom: 10px;
}

.product-featured .price-box {
    font-size: var(--fs-3);
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.product-featured .price {
    color: var(--royal-blue);
    font-weight: var(--weight-700);
}

.product-featured del {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-style: italic;
    font-weight: var(--weight-300);
}

.product-featured .details-btn {
    background-color: var(--royal-blue);
    padding: 8px 15px;
    color: var(--white);
    font-weight: var(--weight-700);
    font-size: var(--fs-9);
    text-transform: uppercase;
    border-radius: var(--border-radius-md);
    margin-bottom: 15px;
    transition: var(--transition-timing);
}

.product-featured .details-btn:hover {
    background-color: var(--eerie-black);
    color: var(--white);
}

.product-featured .showcase-status {
    margin-bottom: 15px;
}

.product-featured .showcase-status .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--eerie-black);
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: var(--weight-400);
    font-size: var(--fs-9);
}

.product-featured .showcase-status-bar {
    background-color: var(--cultured);
    position: relative;
    height: 10px;
    border-radius: 5px;
}

.product-featured .showcase-status-bar::before {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    height: 4px;
    width: 40%;
    background-color: var(--royal-blue);
    border-radius: 5px;
}

.product-featured .countdown-desc {
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-featured .countdown {
    display: flex;
    gap: 5px;
}

.product-featured .countdown-content {
    padding: 5px;
    background-color: var(--cultured);
    border-radius: var(--border-radius-md);
    text-align: center;
    text-transform: capitalize;
}

.product-featured .display-number {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-500);
    min-width: 40px;
}

.product-featured .display-text {
    color: var(--davys-gray);
    font-size: var(--fs-11);
}

.display-details {
    overflow-y: auto;
    position: fixed;
    padding: 20px 0 0 0;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 80%;
    max-height: 75vh;
    display: none;
    z-index: 16;
    border-radius: var(--border-radius-md);
    transition: var(--transition-timing);
    background-color: rgb(255, 255, 255);
}

.display-details .product-content {
    display: grid;
    justify-items: center;
    padding: 20px;
}

.display-details .product-title {
    /* text-align: center; */
    text-transform: capitalize;
    font-weight: var(--weight-600);
    font-size: var(--fs-4);
}

.product-content .detail-product-img {
    margin: 20px 0 20px 0;
}

.product-content .detail-btn-actions {
    display: flex;
}

.product-content .item-btn {
    padding: 5px 10px;
    font-size: var(--fs-9);
    color: var(--white);
    font-weight: var(--weight-500);
    margin: 20px 10px;
    border-radius: var(--border-radius-md);
    background-color: var(--royal-blue);
    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.29);
}

.product-content .item-btn:hover {
    box-shadow: unset;
    cursor: pointer;
}

.product-content .item-btn:nth-child(2) {
    background-color: var(--rubby-red);
}
.product-content table td:nth-child(even) {
    padding-left: 30px; 
}
.product-content table td:nth-child(odd) {
    font-weight: var(--weight-500);
}

.product-content .desc-title {
    font-weight: var(--weight-600);
    margin: 15px;
}

.product-content .product-desc {
    text-align: justify;
    padding-right: 20px;
}

.product-desc .item-desc {
    font-size: var(--fs-7);
    margin: 0 0 10px 0;
}
.product-content table {
    font-size: var(--fs-7);
}
.desc-content ul li {
    list-style:disc;
    margin-left: 20px;
    font-size: var(--fs-7);
}

.product-main {
    margin-bottom: 30px;
}

.product-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.product-grid-container .showcase {
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    transition: var(--transition-timing);
}

.product-grid-container .showcase:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-grid-container .showcase-banner {
    position: relative;
}

.product-grid-container .product-img {
    width: 200px;
    padding: 30px;
    object-fit: cover;
    transition: var(--transition-timing);
}

.product-grid-container .product-img.default {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 10%);
    opacity: 1;
}

.product-grid-container .product-img.hover {
    position: absolute;
    transform: translate(-50%, 10%);
    top: 0;
    left: 50%;
    z-index: 2;
    opacity: 0;
}

.product-grid-container .showcase:hover .product-img.hover {
    opacity: 1;
}

.product-grid-container .showcase:hover .product-img.default {
    opacity: 0;
}

/* .product-grid-container .showcase:hover .product-img {
    transform: scale(1.1);
} */

.product-grid-container .showcase-bagde {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: var(--ocean-green);
    font-size: var(--fs-8);
    font-weight: var(--weight-500);
    color: var(--white);
    padding: 0 8px;
    border-radius: var(--border-radius-sm);
}


.product-grid-container .showcase-bagde.angle {
    top: 8px;
    left: -30px;
    transform: rotate(-45deg);
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 40px;
}

.product-grid-container .showcase-bagde.r-blue {
    background-color: var(--royal-blue);
}

.product-grid-container .showcase-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    transform: translateX(50px);
    transition: var(--transition-timing);
    z-index: 3;
}

.product-grid-container .showcase:hover .showcase-actions {
    transform: translateX(0);
}

.product-grid-container .btn-action {
    background-color: var(--white);
    color: var(--sonic-silver);
    margin-bottom: 5px;
    border: 1px solid var(--cultured);
    padding: 5px;
    border-radius: var(--border-radius-sm);
    transition: var(--transition-timing);
}

.product-grid-container .btn-action:hover {
    background-color: var(--royal-blue);
    color: var(--white);
    border-color: var(--eerie-black);
}

.product-grid-container .showcase-content {
    padding: 15px 20px 0;
}

.product-grid-container .showcase-category {
    color: var(--royal-blue);
    font-size: var(--fs-9);
    font-weight: var(--weight-500);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-grid-container .showcase-title {
    color: var(--sonic-silver);
    font-size: var(--fs-8);
    font-weight: var(--weight-300);
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 10px;
    transition: var(--transition-timing);
}

.product-grid-container .showcase-title:hover {
    color: var(--eerie-black);
}

.product-grid-container .showcase-rating {
    display: flex;
    color: var(--sandy-brown);
    margin-bottom: 10px;
}

.product-grid-container .price-box {
    display: flex;
    gap: 10px;
    font-size: var(--fs-7);
    color: var(--eerie-black);
    margin-bottom: 10px;
}

.product-grid-container .price {
    font-weight: var(--weight-700);
}

.product-grid-container del {
    color: var(--sonic-silver);
}

.customers-testimonials-box {
    margin-bottom: 50px;
}

.testimonials-content .btn-slide {
    visibility: hidden;
}

.testimonials-content .testimonial-wrapper { 
    scroll-behavior: smooth;
    gap: unset;
}

.testimonials-content .has-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--white-2);
    border: 3px solid var(--white);
    border-radius: 20px;
}
.testimonial-card-content {
    min-width: 100%;
    padding: 30px 20px;
    /* border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md); */
    text-align: center;
    margin-bottom: 35px;
    scroll-snap-align: start;
}

.testimonial-benner {
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
}

.customer-name {
    font-weight: var(--weight-700);
    text-transform: capitalize;
    color: var(--sonic-silver);
    margin-bottom: 8px;
}

.testimonial-description {
    max-width: 70%;
    margin: auto;
    color: var(--sonic-silver);
    font-size: var(--fs-11);
}

blockquote {
    margin-bottom: -30px;
}

blockquote:before {
    content: open-quote;
    font-weight: bold;
    font-size: 20px;
}

blockquote:after {
    content: close-quote;
    font-weight: bold;
    font-size: 20px;

}


.special-offer-container {
    position: relative;
    aspect-ratio: 5 / 6;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    margin-bottom: 25%;
}

.special-offer-benner {
    width: 100%;
    height: 100%;
}

.special-offer-content {
    background-color: rgba(255, 255, 255, 0.93);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    padding: 15px 20px;
    text-align: center;
    border-radius: var(--border-radius-sm);
}

.special-offer-discount {
    background-color: var(--eerie-black);
    color: var(--white);
    font-size: var(--fs-11);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    width: max-content;
    margin: auto;
    padding: 0 5px;
    border-radius: var(--border-radius-sm);
    margin-bottom: 5px;
}

.special-offer-title {
    color: var(--onyx);
    font-size: var(--fs-5);
    /* text-transform: capitalize; */
    margin-bottom: 5px;
}

.special-offer-text {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    margin-bottom: 5px;
}

.special-offer-button {
    font-size: var(--fs-9);
    color: var(--royal-blue);
    text-transform: uppercase;
    font-weight: var(--weight-700);
    margin: auto;
}

.service-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 15px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
}

.service-item {
    min-width: 190px;
    display: flex;
    align-items: center;
    gap: 35px;
    margin: 20px 0 20px 0;
}

.service-icon {
    font-size: 35px;
    color: var(--royal-blue);
    transition: var(--transition-timing);
}

.service-icon ion-icon {
    --ionicon-stroke-width: 25px;
}

.service-item:hover .service-icon {
    color: var(--eerie-black);
}

.service-item-title {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: capitalize;
    margin-bottom: 5px;
}

.service-item-desc {
    color: var(--sonic-silver);
    font-size: var(--fs-9);
}

.blog {
    margin-bottom: 30px;
}

.blog-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    overflow: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
}

.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100%;
    scroll-snap-align: start;
}

.blog-benner {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: var(--border-radius-md);
    margin-bottom: 20px;
}

.blog-category,
.blog-title {
    text-transform: capitalize;
    color: var(--eerie-black);
}

.blog-title:hover {
    color: var(--royal-blue);
}

.blog-meta cite {
    font-size: normal;
    color: var(--davys-gray);
}

footer {
    background-color: var(--eerie-black);
    padding: 30px 0;
}

.footer-category {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--onyx);
}

.footer-category-title {
    color: var(--royal-blue);
    font-size: var(--fs-6);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer-category-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    row-gap: 3px;
    margin-bottom: 15px;
}

.category-box-title {
    color: var(--spanish-gray);
    font-size: var(--fs-8);
    font-weight: var(--weight-600);
    text-transform: uppercase;
}

.category-link {
    position: relative;
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    transition: var(--transition-timing);
}

.category-link:hover {
    color: var(--spanish-gray);
}

.category-link:not(:last-child)::after {
    position: absolute;
    content: '';
    top: 3px;
    right: -10px;
    background-color: var(--sonic-silver);
    width: 1px;
    height: 15px;
}

.footer-nav {
    border-bottom: 1px solid var(--onyx);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.nav-list:not(:last-child) {
    margin-bottom: 20px;
}

.footer-nav .nav-title {
    position: relative;
    color: var(--white);
    font-size: var(--fs-7);
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.footer-nav .nav-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--sandy-brown);
    width: 60px;
    height: 1px;
}

.nav-item {
    padding: 3px 0;
}

.nav-link,
.nav-item .content {
    width: max-content;
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    transition: var(--transition-timing);
}

.nav-link:hover {
    color: var(--sandy-brown);
}

.nav-item.flex {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.nav-item .content {
    font-style: normal;
    margin-bottom: 5px;
}

.nav-item .box-icon {
    color: var(--sonic-silver);
    font-size: 25px;
}

.nav-item .box-icon ion-icon {
    --ionicon-stroke-width: 30px;
}

.footer-nav .social-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.social-link .nav-link {
    font-size: 25px;
}

.footer-bottom {
    text-align: center;
    margin-bottom: 30px;
}

.footer-bottom h2,
.footer-bottom h4 {
    color: var(--sonic-silver);
}

.payment h4 {
    margin: 15px;
}

.payment-img {
    max-width: 300px;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

.sponsor-container {
    display: flex;
    justify-content: center;
}

.sponsor-item {
    display: flex;
    /* width: 200px; */
    gap: 20px;
}

.sponsor-img {
    width: 60px;
    margin: 5px auto;
}

.copyright {
    color: var(--sonic-silver);
    display: flex;
    justify-content: center;
    font-size: var(--fs-9);
    margin: 30px 0 -50px 0;
    padding: 10px;
    word-spacing: 2px;
}

.copyright a {
    display: inline;
    color: inherit;
}

/* signin & signup */
.user-signup,
.user-signin {
    margin: 40px 5px;
}

.signup-form,
.signin-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-content {
    display: grid;
    /* grid-template-columns: repeat(2, .6fr); */
}

.form-content label {
    font-size: var(--fs-8);
    font-weight: var(--weight-600);
}

.form-content ::placeholder {
    font-size: var(--fs-8);
}

.user-signup-content h1,
.user-signin-content h1 {
    text-align: center;
    margin-bottom: 50px;
}

.user-signup-content input,
.user-signin-content input {
    max-width: 400px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}

.signup-form .form-desc,
.signin-form .form-desc {
    margin: 10px 0 20px 0;
    text-align: center;
    width: 400px;
    font-size: var(--fs-8);
}

.form-btn-action button {
    padding: 6px 30px;
    border-radius: 2px;
    margin: 20px 0;
    background-color: orange;
    transition: .5s;
}

.form-btn-action button:hover { background-color: var(--royal-blue);
    color: var(--white);
}

.signin-offer p {
    display: flex;
    font-size: var(--fs-8);
}




.new-user-register {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.new-user-register p {
    margin: 20px 0 10px 0;
    position: relative;
    color: rgba(132, 132, 132, 0.56);
    font-size: var(--fs-8);
}

.new-user-register p::before {
    content: ' ';
    position: absolute;
    display: block;
    left: -100px;
    top: 40%;
    height: 2px;
    width: 80px;
    background-color: rgba(168, 168, 168, 0.407);
}

.new-user-register p::after {
    content: ' ';
    position: absolute;
    display: block;
    right: -100px;
    top: 40%;
    height: 2px;
    width: 80px;
    background-color: rgba(168, 168, 168, 0.407);
}

.user-register {
    background-color: rgba(168, 168, 168, 0.407);
    border-radius: 2px;
    padding: 8px 10px;
    font-size: var(--fs-7);
}

@media (min-width: 460px) {
    :root {
        --fs-1: 1.875px;
    }

    .header-top {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid var(--cultured);
    }

    .header-social-container,
    .header-top-actions {
        display: none;
    }

    .header-alert-news {
        color: var(--sonic-silver);
        font-size: var(--fs-9);
        text-transform: uppercase;
    }

    .header-alert-news b {
        font-weight: var(--weight-500);
    }

    .header-main {
        padding: 25px 0;
    }

    .mobile-bottom-nav {
        border-top-left-radius: var(--border-radius-md);
        border-top-right-radius: var(--border-radius-md);
    }

    .slider-item {
        aspect-ratio: 6 / 3;
    }

    .banner-content {
        top: 50%;
        right: auto;
        bottom: auto;
        transform: translateY(-50%);
        max-width: 320px;
    }

    .banner-subtitle {
        display: block;
        /* color: var(--sonic-silver); */
        font-size: var(--fs-7);
        font-weight: var(--weight-700);
        margin-bottom: 10px;
    }

    .banner-title {
        font-size: var(--fs-9);
    }

    .banner-text b {
        font-size: var(--fs-2);
    }

    .banner-btn {
        padding: 7px 20px;
    }

    .product-content .detail-product-img {
        width: 250px;
        background-color: red;
    }

    .product-grid-container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .special-offer-content {
        padding: 40px;
    }

    .special-offer-discount {
        --fs-11: 0.875rem;
        padding: 5px 10px;
    }

    .special-offer-title {
        --fs-5: 1.5rem
    }

    .special-offer-text {
        --fs-7: 1rem;
    }

    .special-offer-button {
        --fs-9: 1rem;
    }


    .copyright {
        --fs-9: 0.875;
    }
}

@media (min-width: 570px) {

    .header-top .container,
    .header-main .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-logo {
        margin-bottom: 0;
    }

    .header-top-actions {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .header-top-actions select {
        border: none;
        display: block;
        min-width: 80px;
        padding: 5px 0;
        font: inherit;
        color: var(--sonic-silver);
        font-size: var(--fs-8);
        text-transform: uppercase;
        cursor: pointer;
        transition: var(--transition-timing);
    }

    .header-top-actions select:hover {
        color: var(--eerie-black);
    }

    .header-search-container {
        min-width: 300px;
    }

    .slider-item {
        aspect-ratio: 6 / 3;
    }

    .banner-content {
        background-color: none;
    }

    .category-item-container {
        gap: 30px;
    }

    .category-item {
        min-width: calc(50% - 15px);
    }

    .product-minimal .showcase-container {
        min-width: 50%;
    }

    .product-featured .showcase-img {
        max-width: 450px;
        margin: auto;
    }

    .product-featured .countdown {
        gap: 20px;
    }

    .special-offer-container {
        aspect-ratio: 6 / 5;
    }

    .blog-container {
        gap: 30px;
    }

    .blog-card {
        min-width: calc(50% - 15px);
    }

    .form-content {
        grid-template-columns: repeat(2, .7fr);
    }
}

@media (min-width: 768px) {
    :root {
        --fs-1: 2.375rem
    }

    html {
        font-size: 17px;
    }

    .container {
        max-width: 750px;
        margin: auto;
    }

    .modal-content {
        display: flex;
        align-items: center;
        max-width: 750px;
        width: fit-content;
    }

    .newsletter-img {
        display: block;
        margin: 20px;
    }

    .newsletter {
        text-align: left;
    }

    .header-main .container {
        gap: 80px;
    }

    .header-search-container {
        flex-grow: 1;
    }

    .slider-item {
        aspect-ratio: auto;
        height: 350px;
    }

    .banner-content {
        max-width: 380px;
    }

    .banner-subtitle {
        --fs-7: 1.25rem;
    }

    .banner-text {
        --fs-7: 1.125rem;
    }

    .banner-text b {
        --fs-2: 1.875rem;
    }

    .banner-btn {
        --fs-11: 0.75rem;
    }

    .category-img-box {
        padding: 20px;
    }

    .product-minimal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .product-minimal .product-showcase {
        min-width: calc(50% - 10px);
        width: calc(50% - 10px);
    }

    .product-minimal .showcase-container {
        min-width: 100%;
    }

    .product-featured .showcase {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .product-featured .showcase-img {
        max-width: fit-content;
    }

    .product-featured .showcase-content {
        margin-top: 0;
        min-width: calc(100% - 345px);
    }

    .product-content .detail-product-img {
        width: 300px;
    }

    .footer-nav .container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        column-gap: 20px;
    }

    .footer-nav .nav-list {
        min-width: calc(33.33% - 15px);
        width: calc(33.33% - 15px);
        flex-grow: 1;
    }

    .footer-nav .nav-list:not(:last-child) {
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) {
    :root {
        --fs-1: 2.625rem;
        --fs-2: 1.125rem;
    }

    .product-featured .showcase-container {
        width: auto;
    }

    .container {
        max-width: 980px;
    }

    .notification-toast {
        bottom: 30px;
    }

    .header-social-container {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .header-social-container .social-link {
        padding: 5px;
        background-color: hsl(0, 0%, 95%);
        border-radius: var(--border-radius-sm);
        color: var(--sonic-silver);
        transition: var(--transition-timing);
    }

    .header-social-container .social-link:hover {
        background-color: var(--royal-blue);
        color: var(--white);
    }

    .header-user-actions {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .header-user-actions .action-btn {
        position: relative;
        font-size: 25px;
        color: var(--onyx);
        padding: 5px;
    }
    .header-user-actions .action-btn a {
        color: var(--onyx);
    }
    .header-user-actions .count {
        position: absolute;
        top: -2px;
        right: -3px;
        background-color: var(--rubby-red);
        color: var(--white);
        font-size: 12px;
        font-weight: var(--weight-500);
        line-height: 1;
        padding: 2px 4px;
        border-radius: 20px;
    }

    .desktop-nav-menu {
        display: block;
    }

    .desktop-menu-category-list {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .desktop-menu-category-list .menu-category:not(:nth-child(2)) {
        position: relative;
    }

    .desktop-menu-category-list .menu-category>.menu-title {
        position: relative;
        color: var(--onyx);
        font-size: var(--fs-7);
        font-weight: var(--weight-600);
        text-transform: uppercase;
        padding: 15px 0;
        transition: var(--transition-timing);
    }

    .desktop-menu-category-list .menu-category>.menu-title:hover {
        color: var(--royal-blue);
    }

    .desktop-menu-category-list .menu-category>.menu-title::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--royal-blue);
        transform: scaleX(0);
        transform-origin: left;
        transition: var(--transition-timing);
    }

    .desktop-menu-category-list .menu-category>.menu-title:hover::after {
        transform: scaleX(1);
    }

    .dropdown-panel {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--white);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        padding: 30px;
        border: 1px solid var(--cultured);
        box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
        transform: translateY(50px);
        scale: 0.5;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: var(--transition-timing);
        z-index: 5;
    }

    .desktop-menu-category-list .menu-category:hover>.dropdown-panel {
        transform: translateY(0);
        scale: 1;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .dropdown-panel-list .menu-title a {
        color: var(--onyx);
        font-size: var(--fs-7);
        font-weight: var(--weight-600);
        padding-bottom: 10px;
        border-bottom: 1px solid var(--cultured);
        margin-bottom: 10px;
    }

    .panel-list-item a {
        color: var(--sonic-silver);
        font-size: var(--fs-7);
        text-transform: capitalize;
        transition: var(--transition-timing);
    }

    .panel-list-item a:hover {
        color: var(--royal-blue);
    }

    .panel-list-item:not(:last-child) a {
        padding: 4px 0;
    }

    .panel-list-item:last-child {
        margin-top: 20px;
    }

    .panel-list-item img {
        width: 100%;
        height: auto;
        border-radius: var(--border-radius-sm);
    }

    .mobile-bottom-nav {
        display: none;
    }

    .banner {
        margin-top: 0;
    }

    .slider-item {
        height: 380px;
    }

    .banner-content {
        left: 75px;
        max-width: 400px;
    }

    .banner-subtitle {
        --fs-7: 1.625rem;
    }

    .banner-text {
        --fs-7: 1.375rem;
    }

    .banner-btn {
        --fs-11: 0.875rem;
    }

    .category-item {
        min-width: calc(33.33% - 20px);
    }

    .category-img-box {
        padding: 10px;
    }

    .product-container .container {
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 30px;
        margin-bottom: 30px;
    }

    .slidebar {
        --fs-5: 0.941rem;
        position: sticky;
        top: 30px;
        left: 0;
        padding: 0;
        min-width: calc(25% - 15px);
        margin-bottom: 30px;
        visibility: visible;
        overflow-y: auto;
        overscroll-behavior: auto;
        z-index: 0;
    }

    .slidebar-category {
        padding: 20px;
        margin-bottom: 30px;
        border: 1px solid var(--cultured);
        border-radius: var(--border-radius-md);
    }

    .slidebar-close-btn {
        display: none;
    }

    .product-box {
        min-width: calc(75% - 15px);
    }

    .product-minimal {
        margin-bottom: 20px;
    }

    .product-minimal .product-showcase {
        min-width: calc(33.33% - 14px);
        width: calc(33.33% - 14px);
        flex-grow: 1;
    }

    .title {
        margin: 50px 0 40px 0;
    }

    .product-minimal .showcase-wrapper {
        gap: 10px;
    }

    .product-minimal .showcase-container {
        padding: 2px;
    }

    .product-featured .countdown-content {
        padding: 5px 10px;
    }

    .display-details {
        overflow-y: unset;
    }

    .display-details .product-content {
        grid-template-columns: 1fr 1fr;
    }

    .product-content .product-desc {
        text-align: justify;
        height: 40%;
        padding-right: 20px;
        overflow-y: scroll;
    }

    .product-content .detail-product-img {
        width: 300px;
    }

    .product-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-grid-container .product-img {
        width: 150px;
    }

    .customers-testimonials-box {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        column-gap: 30px;
    }

    .testimonial-card-content {
        margin-bottom: 0;
    }

    .testimonials-content,
    .special-offer-container {
        min-width: calc(50% - 15px);
        width: calc(50% - 15px);
        margin-bottom: 0;
    }

    .service {
        width: 100%;
    }

    .service-container {
        gap: 0;
    }

    .service-item-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px 85px;
        padding: 10px;
    }

    .blog-card {
        min-width: calc(33.33% - 20px);
    }

    .blog-title {
        --fs-5: 1rem;
    }

    .footer-nav .nav-list {
        min-width: calc(20% - 16px);
        width: calc(20% - 16px);
    }

    /* .footer-nav .nav-list:last-child {
        display: none;
    } */

    /* .footer-bottom {
        margin-bottom: 0;
    } */
}

@media (min-width: 1200px) {
    .desktop-menu-category-list {
        gap: 45px;
    }

    .slider-item:last-child .banner-img {
        object-position: top;
    }

    .category-item {
        min-width: calc(25% - 22.5px);
    }

    .category-item-title {
        --fs-9: 0.824rem;
    }

    .product-featured .showcase>div {
        min-width: calc(50% - 10px);
    }

    .product-featured .display-number {
        --fs-5: 1.125rem;
    }
    .product-content .product-desc {
        height: 50%;
    }
    .product-grid-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .blog {
        margin-bottom: 50px;
    }

    .blog-card {
        min-width: calc(25% - 22.5px);
    }

    footer {
        padding-top: 50px;
    }

    .footer-category {
        margin-bottom: 50px;
        padding-bottom: 35px;
    }

    .footer-nav {
        padding-bottom: 50px;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 18px;
    }

    .container {
        max-width: 1350px;
    }

    .slider-item {
        height: 450px;
    }

    .banner-content {
        left: 110px;
        max-width: 460px;
    }
}